.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button:focus {
  outline: none
}

body {
  background: linear-gradient(to top left, rgb(235, 180, 0), rgb(190, 9, 91));
  color: white;
  height: 100vh;
  align-content: center
}

.flights-container {
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden
}

.flight-list-container {
  height: 100%;
  overflow-y: scroll;
}

.Sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 51%;
  width: 60%;
  margin: 20%;
  margin-top: 120px;
  margin-bottom: 0px;
  /* padding-left: 555px; */
  text-align: center;
  background-color: rgba(70, 70, 70, 0.3);
  border-radius: 15px;
}

.user-action {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logout {
  margin: 0;
}

.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50%;
  width: 60%;
  margin: 20%;
  margin-top: 120px;
  margin-bottom: 0;
  background-color: rgba(70, 70, 70, 0.3);
  border-radius: 15px;
}

input {
  margin-bottom: 2vh;
  border-right: none;
  border-top: none;
  border-left: none;
  background-color:transparent;
  outline: none;
  color: white;
  caret-color: white;
  font-size: 13px;
  width: 40vw;
  font-weight: 800
}

input[type=text]::placeholder {
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 13px
}

input[type=password]::placeholder {
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 13px
}

input[type=submit] {
  background: rgba(255,255,255,.2);
  width: 50%;
  padding: 2vh;
  border: none;
  cursor: pointer;
  border-radius: 4px 4px;
  border: 1px solid #ccc;
  padding: 10px 30px;
}

input[type=submit]:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}

.navbar {
  display: flex;
  height: 25px;
  justify-content: space-between;
  z-index: 1;
  width: 95vw;
  font-size: 20px;
  font-weight: 800;
  align-items: center;
  position:fixed;
  margin: 25px;
}

a {
  text-decoration: none;
  color: white
}

.logo {
  width: 80px
}

input:focus::placeholder{
  color:transparent;
}

.home-page {
  display: flex;
  flex-direction: column;
  height: 92vh;
}

.search-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}

.slogan {
  font-weight: 800;
  font-size: 25px;
}

.origin {
  width: 300px
}

.destination {
  width: 300px
}

.departure-date {
  width: 300px
}

.city {
  width: px
}

.button{
	display: inline-block;
	overflow: hidden;
	left: 40%;
	top: 40%;
  width: 200px;
	perspective:400px;
	background-color: transparent;
	margin: 0;
	padding: 0;
	border: 0px none;
  border-radius: 15px;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.3)));
}
.button span{
	display: block;
	position: relative;
	transition:0.3s ease-in-out all;
	transform-origin:50% 0;
  transform-style:preserve-3d;
	background-color: black;
	color: white;
  width: 100%;
  height: 30px;
  font-size: 25px
}

.button span:after{
	display: block;
	content: attr(data-title);
	position: absolute;
	left: 0;
	top: 0;
	transition:0.3s ease-in-out all;
	transform-origin:50% 0;
	transform:translate3d(0px,105%,0px) rotateX(-90deg);
	background-color: white;
	color: black;
  width: 100%;
  border-radius: 15px;
  height: 30px
}

.button:hover span{
	transform:translate3d(0px,0px,-30px) rotateX(90deg);
}

.tik-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60vw;
  align-content: center;
  align-items: flex-start;
}

.flight-card{
  display:flex;
  flex-direction: column;
  height: 62px;
  background-color: rgba(70, 70, 70, 0.3);
  margin: 15px;
  border-radius: 15px;
  overflow: hidden;
  transition: height 0.4s ease-in-out;
  -webkit-transition: height 0.4s ease-in-out;
  display: block;
}

.flight-card:hover {
  display:flex;
  flex-direction: column;
  height: 120px;
  background-color: rgba(70, 70, 70, 0.3);
  margin: 15px;
  border-radius: 15px;
}

.landing {
  width: 40px;
}

.takingoff {
  width: 40px;
}

.time {
  font-weight: 800;
}

header {
  z-index: 1;
  height: 8vh;
}

.airport-result {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-weight: 800;
}

.flight-info {
  background-color: rgba(70, 70, 70, 0.3);
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  margin-top: 15px;
  width: 70%;
  margin-left: 15%;
  height: 77vh;
}

.info{
  text-align: left;
  font-weight: 800;
  margin: auto;
  z-index: 5;
}

.book-btn {
  display:flex;
  justify-content: center;
  margin: 30px;
}

.info-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 82vh;
}
.weather-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  background-color: rgba(70, 70, 70, 0.3);
  border-radius: 15px;
  width: 500px;
  height: 400px;
  overflow: hidden;
  justify-content: space-evenly;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: center
}

.app-name {
  display: flex;
  justify-content: center;
  font-size: 60px;
  font-weight: 800
}

.background {
  display: flex;
  width: 500px;
  justify-content: center;
  position: relative;
}

img.background-img {
  width: 600px;
  z-index: -1;
  padding-top: 424px;
  display: block;
  opacity: 0.7;
}

div.weather-details{
  display: flex;
  position:relative;
  bottom: 415px;
  font-weight: 800;
  justify-content: center;
}

.weather-icon {
  margin: 0;
  width: 50px;
}

ul {
  list-style-type: none;
}

li {
  margin: 7px 0;
}

.info-detail {
  margin: 10px;
}

.trip-card {
  display:flex;
  flex-direction: row;
  height: 6vh;
  background-color: rgba(70, 70, 70, 0.3);
  margin: 15px;
  border-radius: 15px;
  overflow: hidden;
  transition: height 0.4s ease-in-out;
  -webkit-transition: height 0.4s ease-in-out;
  display: block;
  justify-content: flex-start;
}

.trip-card:hover {
  display:flex;
  flex-direction: column;
  height: 12vh;
  background-color: rgba(70, 70, 70, 0.3);
  margin: 15px;
  border-radius: 15px;
}

.trip-container {
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden
}

.trip-list-container {
  height: 100%;
  overflow-y: scroll;
  width: 60vw;
}

.user-container {
  display: flex;
  flex-direction: column;
  height: 92vh;
}

.trip-name {
  font-weight: 800;
  font-size: 22px;
  margin-left: 13px;
  text-align: left;
  margin-top: 10px
}

div.select-path {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 380px;
  overflow:hidden;
  height:10vh;
  background-color: rgba(70, 70, 70, 0.7);
  z-index: 5000;
  width: 50%;
  margin-left: 25%;
  border-radius: 15px;
}

.greeting {
  height: 0.8vh;
  text-align: left;
  width: 60%;
  margin-left: 15%;
  margin-bottom: 40px
}

.trip-detail {
  display: flex;
  flex-direction: column;
  height: 77vh;
  width: 60%;
  margin-left: 20%;
  justify-content: center;
  margin-top: 0
}

.detail-title {
  margin: 0;
  text-align: left;
  font-size: 20px;
  font-weight: 800;
}

.top-divider {
  margin: 1px;
  text-align: left;
  font-weight: 800;
  border: 1px solid white;
  margin-bottom: 20px;
}

.bottom-divider {
  margin: 1px;
  text-align: left;
  font-weight: 800;
  border: 1px solid white;
}

.trip-flight-detail {
  display: flex;
  flex-direction: column;
  height: 50%;
  margin-bottom: 0;
}

.pack-list-container {
  display: flex;
  flex-direction: column;
  height: 50%;
  margin-top: 10px;
}

.trip-flight-detail-list {
  text-align: left;
  font-weight: 800;
  font-size: 15px;
}

.detail-container {
  display: flex;
  flex-direction: row;
}

.trip-weather-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(70, 70, 70, 0.3);
  border-radius: 15px;
  width: 500px;
  height: 250px;
  overflow: hidden;
  justify-content: space-evenly;
  margin-top: -5px
}

.trip-weather-background {
  display: flex;
  width: 500px;
  justify-content: center;
  position: relative;
  bottom: 70px;
}

.weather-detail-list {
  margin: 0;
  font-size: 12px
}

div.trip-weather-details{
  display: flex;
  position:relative;
  bottom: 380px;
  font-weight: 800;
  justify-content: center;
}

.weather-detail-list {
  margin: 0;
}

.item-form {
  display: flex;
  flex-direction: column;
  width: 18vw;
  height: 15vh;
  background-color: rgba(70, 70, 70, 0.3);
  border-radius: 15px;
  position: relative;
}

input.item-input {
  width: 15vw;
  text-align: center
}

input.item-submit {
  width: 15vw;
  height: 5vh;
}