.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button:focus {
  outline: none
}

div.App {
  height: 1000px
}

body {
  background: linear-gradient(to top left, rgb(235, 180, 0), rgb(190, 9, 91));
  background-repeat: cover;
  color: white;
}

.flights-container {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

.Sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  width: 22vw;
  padding-left: 555px;
  text-align: center;
}

.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  width: 22vw;
  padding-left: 555px;
}

input {
  margin-bottom: 2vh;
  border-right: none;
  border-top: none;
  border-left: none;
  background-color:transparent;
  outline: none;
  color: white;
  caret-color: white;
  font-size: 13px;
  width: 40vw;
  font-weight: 800
}

input[type=text]::placeholder {
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 13px
}

input[type=password]::placeholder {
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 13px
}

input[type=submit] {
  background: rgba(255,255,255,.2);
  width: 100%;
  padding: 2vh;
  border: none;
  cursor: pointer;
  border-radius: 4px 4px;
  border: 1px solid #ccc;
  padding: 10px 30px;
}

input[type=submit]:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}

.navbar {
  display: flex;
  height: 30px;
  justify-content: space-between;
  z-index: 1;
  width: 95vw;
  font-size: 20px;
  font-weight: 800;
  align-items: center;
  position:fixed;
  margin: 25px;
}

a {
  text-decoration: none;
  color: white
}

.logo {
  width: 80px
}

input:focus::placeholder{
  color:transparent;
}

.home-page {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

.search-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}

.slogan {
  font-weight: 800;
  font-size: 25px;
}

.origin {
  width: 300px
}

.destination {
  width: 300px
}

.departure-date {
  width: 300px
}

.city {
  width: px
}

.button{
	display: inline-block;
	overflow: hidden;
	left: 40%;
	top: 40%;
  width: 200px;
	perspective:400px;
	background-color: transparent;
	margin: 0;
	padding: 0;
	border: 0px none;
  border-radius: 15px;
  
  
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.3)));
  
}
.button span{
	display: block;
	position: relative;
	transition:0.3s ease-in-out all;
	transform-origin:50% 0;
  transform-style:preserve-3d;
	background-color: black;
	color: white;
  width: 100%;
  height: 30px;
  font-size: 25px
}
.button span:after{
	display: block;
	content: attr(data-title);
	position: absolute;
	left: 0;
	top: 0;
	transition:0.3s ease-in-out all;
	transform-origin:50% 0;
	transform:translate3d(0px,105%,0px) rotateX(-90deg);
	background-color: white;
	color: black;
  width: 100%;
  border-radius: 15px;
  height: 30px
}

.button:hover span{
	transform:translate3d(0px,0px,-30px) rotateX(90deg);
}

.tik-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60vw;
  
  align-content: center;
  align-items: flex-start;
  
  
}

.flight-card{
  display:flex;
  flex-direction: column;
  height: 62px;
  background-color: rgba(70, 70, 70, 0.3);
  margin: 15px;
  border-radius: 15px;
  overflow: hidden;
  transition: height 0.4s ease-in-out;
  -webkit-transition: height 0.4s ease-in-out;
  display: block;
}

.flight-card:hover {
  display:flex;
  flex-direction: column;
  height: 120px;
  background-color: rgba(70, 70, 70, 0.3);
  margin: 15px;
  border-radius: 15px;
}

.flights-container {
  display: flex;
  justify-content: center;
  
}

.landing {
  width: 40px;
}

.takingoff {
  width: 40px;
}

.time {
  font-weight: 800;
}

header {
  z-index: 1;
  height: 8vh;
}

